.fuenteBlanca{
	color:white;
}

.fuenteRoja{
	color:red;
}

.imgPeq{
	width:20%;
}

.btnAgregar{
	width:25%;
}

.btnGuardar{
	width:25%;
}

.btnVolver{
	width:26%;
}

.etiquetaCampo{
	text-align: right;
}

.ocultar{
	display: none;
}

.mostrar{
	display: block;
}
